<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ga.kps.debitum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icono_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4604704883963264~1985853520"/>

        <activity android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>


        <activity android:name=".ReminderDetailsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SelectDebtActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AddPaymentReminderActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddDebtActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DebtDetailsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddDebtPaymentActivity"
            android:parentActivityName=".DebtDetailsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>